//Fonts
$fontpath: "../fonts/";

//font-weight:
//100 - Thin
//200 - Extra Light, Ultra Light
//300 - Light
//400 - Normal, Book, Regular
//500 - Medium
//600 - Semi Bold, Demi Bold
//700 - Bold
//800 - Extra Bold, Ultra Bold
//900 - Black, Heavy

@font-face {
  font-family: 'Lota Grotesque';
  src: url('#{$fontpath}LotaGrotesque-Regular.eot');
  src: url('#{$fontpath}LotaGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
       url('#{$fontpath}LotaGrotesque-Regular.woff2') format('woff2'),
       url('#{$fontpath}LotaGrotesque-Regular.woff') format('woff'),
       url('#{$fontpath}LotaGrotesque-Regular.ttf') format('truetype'),
       url('#{$fontpath}LotaGrotesque-Regular.svg#LotaGrotesque-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lota Grotesque';
  src: url('#{$fontpath}LotaGrotesque-Bold.eot');
  src: url('#{$fontpath}LotaGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
       url('#{$fontpath}LotaGrotesque-Bold.woff2') format('woff2'),
       url('#{$fontpath}LotaGrotesque-Bold.woff') format('woff'),
       url('#{$fontpath}LotaGrotesque-Bold.ttf') format('truetype'),
       url('#{$fontpath}LotaGrotesque-Bold.svg#LotaGrotesque-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}